#main {
    /* display: flex;
    flex-wrap: wrap; */
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    width: auto;
    
}

#fLogIn {
    grid-column: 5/10;
    margin-bottom: 3.5rem;
    margin-top: 0.5rem;
    width: 30rem;
    height: 90%;
    text-align: justify;
    background-color: #E9E9E9;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
}

.info {
    margin-top: 1rem;
}

#password{
    position: relative;
    }
    
    #togglePassword{
        position: absolute;
        top: 30%;
        margin-left: 93%;
    }

@media (max-width: 768px){
    #fLogIn {
        background-color: #E9E9E9;
        border-radius: 10px;
        grid-column: 5/10;
        grid-row: 2;
        padding: 1rem 2rem 1rem 2rem;
        margin-bottom: 5rem;
        align-content: center;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info{
        margin-top: 0.3rem;
        width: 28rem;
    }
}


@media (max-width: 425px){
#fLogIn {
    background-color: #E9E9E9;
    border-radius: 10px;
    grid-column: 1/13;
    grid-row: 2;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 5rem;
    align-content: center;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

.info{
    margin-top: 0.3rem;
    width: 18rem;
}
}

@media (max-width: 375px){
    #fLogIn {
        background-color: #E9E9E9;
        border-radius: 10px;
        grid-column: 1/13;
        grid-row: 2;
        padding: 1rem 2rem 1rem 2rem;
        margin-bottom: 5rem;
        align-content: center;
        margin-top: -1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .info{
        margin-top: 0.3rem;
        width: 18rem;
    }
    }

@media (max-width: 320px){
    #fLogin {
        background-color: #E9E9E9;
        border-radius: 10px;
        grid-column: 1/13;
        grid-row: 2;
        padding: 1rem 2rem 1rem 2rem;
        margin-bottom: 5rem;
        align-content: center;
        margin-top: -1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .info{
        margin-top: 0.3rem;
        width: 18rem;
    }
    }

    #btnLogIn {
        margin-top: 1.5rem;
    }

    #linkRegistro{
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

    #Tittle{
        color: rgb(29, 38, 64, 1);
    }