.container-fluidR{
    display: flex;
    flex-direction: row-reverse;
    
}
.navbar bg-light

.logo{
    position: absolute;
left: 43.91%;
right: 43.87%;
top: 5.41%;
bottom: 5.41%;

background: url(yeti.png);
}