/* NAV AND FOOTER CSS */

* {
  font-family: "Rajdhani";
}

nav {
  background-color: rgb(29, 38, 64, 1);
}

main {
  margin-top: 7.2rem;

}

.btn { 
  background-color:  rgb(29, 38, 64, 1);
  border-color: rgb(29, 38, 64, 1);
  color: white;
}

.btn:hover{
  border-color: rgb(29, 38, 64, 1);
}
.addBtn{
  margin-bottom: 2rem;
  margin-left: .5rem;
}


/*CARDS TERMOS */
.mainTermos {
  margin-bottom: 4rem;
}

/* MEDIA-QUERIES */


/* DESKTOP */
@media (min-width: 800px) {
  nav>.barraContenedor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    justify-items: stretch;
    grid-template-areas:
      "logo logo logo"
      "pages pages pages"
      "socials socials socials";
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

   #btnRight {
    display: none;
    visibility: hidden;
  } 

  #logo {
    grid-column: 1/2;
  }

  #pages {
    margin-left: 1.5rem;
    grid-column: 2/8;
    font-size: 0.01rem;
  }

  #redSocials {
    grid-column: 8/9;
    grid-column-end: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: end;
    width: 11rem;
  }

  #footerREAL {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: stretch;
    grid-template-areas: " footer footer footer"
      "footer2";
  }

  #footerREAL>.footer {
    grid-column: 1/10;
  }

  #footerREAL>.footer2 {
    grid-column: 10/10;
  }
}

/* TABLET */
@media (max-width: 770px) {
  nav>.barraContenedor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "logo logo "
      "socials socials";
    align-items: center;
  }

  
  #pages {
    display: none !important;
  }

  #logo {
    grid-column: 1/3;
  }

  #redSocials {
    grid-column: 5/7;
    width: 13rem;
  }

  #footerREAL {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: stretch;
    grid-template-areas: " footer footer footer"
      "footer2";
  }

  #footerREAL>.footer {
    grid-column: 1/10;
  }

  #footerREAL>.footer2 {
    grid-column: 10/10;
  }


}

/* MOVIL PHONE */
@media (max-width: 430px) {
  nav>.barraContenedor {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      "logo logo "
      "socials socials";
    align-items: center;
  }

  #pages {
    display: none !important;
  }

  #logo {
    grid-column: 1/3;
  }

  #redSocials {
    grid-column: 7/8;
    width: 5rem;
  }

  #car,
  #log,
  #wap {
    width: 20px;
    height: auto;
  }

  #logoImg {
    width: 120px;
    height: 75px;
    padding-left: 10px;
  }

  #footerREAL {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: stretch;
    grid-template-areas: " footer footer footer"
      "footer2";
  }

  #footerREAL>.footer {
    grid-column: 1/10;
    font-size: 10px;
  }

  #footerREAL>.footer2 {
    grid-column: 10/10;
  }
}

.navbar-brand {
  font-weight: bolder;
}

#offcanvasDarkNavbar {
  background-color: rgb(29, 38, 64, 1);
}

.footer {
  text-align: center;
  right: 0;
  left: 0;
  height: 30px;
  padding: 10px;
  bottom: 5px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #56758f;
  background-color: rgb(29, 38, 64, 1);
  clear: both;
}

.footer2 {
  padding: 10px;
  text-align: center;
  height: 30px;
  bottom: 5px;
  right: 5px;
  background-color: #56758f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  clear: both;
}

/* CSS CARDS CATÃLOGO */
.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardProduct {
  margin: 5px;
  display: flex;
  align-items: center;
}

.card>img {
  max-height: 10rem;
  width: auto;
}

.descriptionCard {
  text-align: justify;
}